doctype html
html
  head
    meta(charset='UTF-8')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css', rel='stylesheet')
    script(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='keywords' content='beer,olut,review,arvostelu')
    meta(name='description', content='Lista oluista sekä arvosteluista')
    title= title
    block metaog
  body
    div.container
      block content
      block foot
        div.container-fluid
          div.panel
            | 2015 - Beer review system by lateski
            a(href='https://github.com/lateski/loquacious-octo-tanuki') @GitHub
